<figure>
  <blockquote
    class="
      mb-6
      relative
    ">
    <div
      class="
        absolute
        left-0
        top-0
        w-12
        h-12
        pointer-events-none
        -mt-7
        -ml-7
      ">
      <img
        src="<%=require('../../images/review.png')%>"
        alt=""
        class="
          block
          w-full
          h-full
        " />
    </div>
    <p
      class="
        block
        text-xs
        leading-6
        sm:text-sm
        sm:leading-8      
        font-normal
        tracking-[1px]
        text-dark
        mb-0
      ">
      <span
        class="
          font-quote
        ">
        ‘‘
      </span>
      Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Morbi viverra volutpat ex, id pellentesque felis volutpat eu. Etiam mattis laoreet leo sed accumsan. Fusce tincidunt in leo lacinia condimentum.
      <span
        class="
          font-quote
        ">
        ‘‘
      </span>
    </p>
  </blockquote>
  <figcaption
    class="
      text-base
      leading-6
      font-medium
      tracking-[1.5px]
      text-dark
    ">
    Cameron Williamson <span class="text-secondary font-normal">/ farmer</span>
  </figcaption>
</figure>
