<div
  class="
    relative
  ">
  <a
    href="#"
    aria-label="Category"
    class="
      block
      py-4
      px-6     
      lg:py-8
      lg:px-12
      rounded-2xl
      h-72
      w-full
      bg-orange-500
      text-white
      relative
      overflow-hidden
      before:block
      before:absolute
      before:top-0
      before:left-0
      before:w-full
      before:h-full
      before:rounded-2xl
      before:overflow-hidden
      before:bg-waves-white
      before:bg-200
      before:opacity-30
      after:block
      after:absolute
      after:top-1/2
      after:-translate-y-2/4
      after:right-[52%]
      after:rounded-full
      after:w-97.5
      after:h-97.5
      after:bg-orange-600
      after:opacity-30
      before:transition-all
      before:ease-in-out
      before:duration-1000
      before:motion-reduce:transition-none
      hover:before:bg-150
      after:transition-all
      after:ease-in-out
      after:duration-1000
      after:motion-reduce:transition-none
      hover:after:w-100
      hover:after:h-100
      hover:after:right-[45%]
    ">
    <span
      class="
        flex
        flex-col
        items-center
        sm:items-start
        justify-start
        h-full
        relative
        z-10
      ">
      <span class="block">
        <span
          class="
            block
            text-2xl
            sm:text-3.5xl
            leading-tight
            font-semibold
            tracking-[1.5px]
            text-center
            sm:text-left
            mb-2
            sm:mb-5
          ">
          Fruits
        </span>
        <span
          class="
            block
            text-sm
            sm:text-lg
            leading-8
            font-normal
            text-center
            sm:text-left
          ">
          <span class="font-semibold">100%</span> fresh <br class="hidden sm:block">
          product
        </span>
      </span>
      <span
        class="
          block
          sm:mt-auto
          py-1
          sm:py-4
        ">
        <span
          class="
            text-base
            leading-5
            font-normal
            tracking-[1.5px]
          ">
          start from <span class="font-semibold">$10.00</span>
        </span>
      </span>
    </span>
  </a>
  <div
    class="
      h-40 
      sm:h-auto    
      max-w-auto
      sm:max-w-lg
      md:max-w-lg
      absolute
      right-0
      sm:right-0
      left-0
      sm:left-auto
      bottom-0
      text-center
      pointer-events-none
      md:-mb-13
      md:-mr-[25%]
    ">
    <picture>
      <source
        srcset="<%=require('../../images/webp/fruits.webp')%>"
        type="image/webp"
      >
      <source
        srcset="<%=require('../../images/fruits.png')%>"
        type="image/png"
      >
      <img
        src="<%=require('../../images/fruits.png')%>"
        alt=""
        class="
          block
          w-auto
          sm:w-full
          h-full
          sm:h-auto
          mx-auto
          sm:mx-0
        "
      >
    </picture>
  </div>  
</div>
