<article
  class="
    relative
    w-full
    h-full
    pt-24
    group
  ">
  <a
    href="#"
    aria-label="Product"
    class="
      block
      select-none
      absolute
      left-0
      right-0
      top-0
      overflow-hidden
      h-40
      grow-0
      shrink-0
      w-auto
      mx-auto
      -mb-17
      mx-auto
      transition
      ease-in-out
      duration-700
      motion-reduce:transition-none
      group-hover:-translate-y-1
    ">
    <picture>
      <source
        srcset="<%=require('../../images/product/p-1.webp')%>"
        type="image/webp"
      >
      <source
        srcset="<%=require('../../images/product/p-1.png')%>"
        type="image/png"
      >
      <img
        src="<%=require('../../images/product/p-1.png')%>"
        alt=""
        class="
          select-none
          absolute
          bottom-0
          left-1/2
          -translate-x-2/4
          h-full
          w-auto
          object-bottom
          object-contain
        "
      >
    </picture>
  </a>
  <div
    class="
      h-full
      pt-17
      px-6
      pb-6
      bg-white
      shadow-sm
      rounded-2xl
      flex
      flex-col
      transition
      ease-in-out
      duration-300
      motion-reduce:transition-none
      hover:shadow-none
    ">
    <div
      class="
        flex
        items-center
        justify-start
        mb-5
      ">
      <span
        class="
          inline-block
          text-1xs
          leading-5
          uppercase
          font-semibold
          tracking-[1px]
          rounded-full
          px-2
          bg-gradient-to-r
          from-green-700
          to-green-600
          text-white
          mr-1
        ">
        Fresh
      </span>
      <span
        class="
          inline-block
          text-1xs
          leading-5
          uppercase
          font-semibold
          tracking-[1px]
          rounded-full
          px-2
          bg-gradient-to-r
          from-red-600
          to-red-500
          text-white
          mr-1
        ">
        -50%
      </span>
    </div>
    <header
      class="mb-6">
      <h4
        class="
          text-2xl
          leading-8
          font-semibold
          tracking-[1.5px]
          text-dark
          truncate
          transition
          ease-in-out
          duration-300
          motion-reduce:transition-none
          hover:text-orange-600
        ">
        <a
          href="#"
          aria-label="Product"
          class="
            block
            truncate
          ">
          Fresh Tomato
        </a>
      </h4>
      <div
        class="
          flex
          items-center
          justify-start
          mt-2
        ">
          <s
            class="
              inline-block
              text-sm
              leading-4.5
              font-medium
              text-secondary
              tracking-[1px]
              mr-2
            ">$280.00
          </s>
          <strong
            class="
              inline-block
              text-lg
              leading-4.5
              font-semibold
              text-green-600
              tracking-[1px]
              mr-2
            ">
            $140.00
          </strong>
          <span
            class="
              inline-block
              text-xs
              leading-4.5
              font-normal
              text-secondary
              mr-2
            ">
            (Per Kg)
          </span>
      </div>
      <p
        class="
          inline-block
          text-sm
          leading-6
          font-normal
          text-secondary
          mt-4
          mb-0
          line-clamp-2
        ">
        Sumptuous, filling, and temptingly healthy, our Biona Organi
      </p>
    </header>
    <footer class="mt-auto">
      <div
        class="
          mt-3.5
        ">
        @require('../rating.html')
      </div>
      <div
        class="
          flex
          items-center
          justify-between
          mt-6
        ">
          @require('../calc.html')

          @require('../action-product.html')
        </div>
    </footer>
  </div>        
</article>
