<div
  class="py-10">
  <div
    class="
      swiper
      swiper-filter
    ">
    <ul
      class="
        flex
        items-center
        justify-center
        swiper-wrapper
      ">
      <li
        class="
          swiper-slide
          px-2
          sm:px-3
        ">
        <a
          href="#"
          data-trigger="all"
          class="
            group
            swiper-btn
            swiper-btn-active
          ">
          <span
            class="
              flex
              items-center
              justify-center
              relative
              py-2
              px-4
              md:px-6
              lg:px-10
              text-dark
              bg-category
              bg-center
              bg-no-repeat
              bg-100
            ">
              <span
                class="
                  block
                  w-8
                  h-8
                ">
                <svg class="icon icon-cat0 block w-full h-full"><use xlink:href="#icon-cat0"></use></svg>
              </span>
              <span
                class="
                  text-lg
                  leading-8
                  font-semibold
                  tracking-[1.5px]
                  ms-2
                  hidden
                  md:block
                ">
                All
              </span>
            </span>
        </a>
      </li>
      <li
        class="
          swiper-slide
          px-2
          sm:px-3
        ">
        <a
          href="#"
          data-trigger="vegetables"
          class="
            group
            swiper-btn
          ">
          <span
            class="
              flex
              items-center
              justify-center
              relative
              py-2
              px-4
              md:px-6
              lg:px-10
              text-dark
              bg-category
              bg-center
              bg-no-repeat
              bg-100
            ">
              <span
                class="
                  block
                  w-8
                  h-8
                ">
                <svg class="icon icon-cat1 block w-full h-full"><use xlink:href="#icon-cat1"></use></svg>
              </span>
              <span
                class="
                  text-lg
                  leading-8
                  font-semibold
                  tracking-[1.5px]
                  ms-2
                  hidden
                  md:block
                ">
                Vegetables
              </span>
            </span>
        </a>
      </li>
      <li
        class="
          swiper-slide
          px-2
          sm:px-3
        ">
        <a
          href="#"
          data-trigger="fruits"
          class="
            group
            swiper-btn
          ">
          <span
            class="
              flex
              items-center
              justify-center
              relative
              py-2
              px-4
              md:px-6
              lg:px-10
              text-dark
              bg-category
              bg-center
              bg-no-repeat
              bg-100
            ">
              <span
                class="
                  block
                  w-8
                  h-8
                ">
                <svg class="icon icon-cat2 block w-full h-full"><use xlink:href="#icon-cat2"></use></svg>
              </span>
              <span
                class="
                  text-lg
                  leading-8
                  font-semibold
                  tracking-[1.5px]
                  ms-2
                  hidden
                  md:block
                ">
                Fruits
              </span>
            </span>
        </a>
      </li>
      <li
        class="
          mr-0
          swiper-slide
          px-2
          sm:px-3
        ">
        <a
          href="#"
          data-trigger="berries"
          class="
            group
            swiper-btn
          ">
          <span
            class="
              flex
              items-center
              justify-center
              relative
              py-2
              px-4
              md:px-6
              lg:px-10
              text-dark
              bg-category
              bg-center
              bg-no-repeat
              bg-100
            ">
              <span
                class="
                  block
                  w-8
                  h-8
                ">
                <svg class="icon icon-cat3 block w-full h-full"><use xlink:href="#icon-cat3"></use></svg>
              </span>
              <span
                class="
                  text-lg
                  leading-8
                  font-semibold
                  tracking-[1.5px]
                  ms-2
                  hidden
                  md:block
                ">
                Berries
              </span>
            </span>
        </a>
      </li>
    </ul>
  </div>
</div>
