<div
  class="
  ">
  <h6
    class="
      text-base
      sm:text-2xl
      lg:text-3.5xl
      lg:leading-none
      font-normal
      tracking-[1.5px]
      mb-4
      lg:mb-6
      text-white
    ">
    Experience
  </h6>
  <strong
    class="
      block
      text-4xl
      sm:text-5xl
      lg:text-6xl
      lg:text-7.5xl
      lg:leading-none
      font-bold
      text-white
    ">
    <i
      class="
        count
        not-italic
      "
      max-data="10">1</i>+
  </strong>
</div>
