<a
  data-fslightbox
  aria-label="Instagram"
  href="<%=require('../../images/inst/ing-1.jpg')%>"
  class="
    block
    relative
    rounded-lg
    overflow-hidden
    w-full
    h-full
    relative
    aspect-1/1
    before:block
    before:absolute
    before:top-0
    before:left-0
    before:w-full
    before:h-1/2
    before:bg-dark/25
    before:transition
    before:ease-in-out
    before:duration-700
    before:motion-reduce:transition-none
    hover:before:-translate-y-full
    after:block
    after:absolute
    after:bottom-0
    after:left-0
    after:w-full
    after:h-1/2
    after:bg-dark/25
    after:transition
    after:ease-in-out
    after:duration-700
    after:motion-reduce:transition-none
    hover:after:translate-y-full
    after:pointer-events-none
    before:pointer-events-none
  ">
  <picture>
    <source
      srcset="<%=require('../../images/inst/ing-1.webp')%>"
      type="image/webp"
    >
    <source
      srcset="<%=require('../../images/inst/ing-1.jpg')%>"
      type="image/png"
    >
    <img
      src="<%=require('../../images/inst/ing-1.jpg')%>"
      alt=""
      class="
        block
        w-full
        h-full
        object-cover
        object-center
      "
    >
  </picture>
</a>