<a
  href="#"
  aria-label="Partner"
  class="
    block
    mx-auto
    select-none
    h-27
    w-auto
    filter
    grayscale
    transition
    ease-in-out
    duration-300
    motion-reduce:transition-none
    hover:grayscale-0
  ">
  <picture>
    <source
      srcset="<%=require('../../images/brand/brand-5.png')%>"
      type="image/webp"
    >
    <source
      srcset="<%=require('../../images/brand/brand-5.png')%>"
      type="image/png"
    >
    <img
      src="<%=require('../../images/brand/brand-5.png')%>"
      alt=""
      class="
        select-none
        block
        w-full
        h-full
        object-cover
      "
    >
  </picture>
</a>
