<div
  class="
    hidden
    md:block
    absolute
    right-0
    bottom-1/2
    md:bottom-0
    -mb-44
    md:-mb-20
    xl:-mb-32
    -mr-8
    xl:-mr-12
    pointer-events-none
    animate-move-bounce-x
  ">
  <picture>
    <source
      srcset="<%=require('../../images/i/i-1.webp')%>"
      type="image/webp"
    >
    <source
      srcset="<%=require('../../images/i/i-1.png')%>"
      type="image/png"
    >
    <img
      src="<%=require('../../images/i/i-1.png')%>"
      alt=""
      class="
        max-w-8
        md:max-w-10
        xl:max-w-auto
      "
    >
  </picture>
</div>