<div
  class="
    hidden
    md:block
    absolute
    left-0
    bottom-0
    -mb-10      
    -ml-4
    md:-mb-6
    xl:-mb-24
    pointer-events-none
    animate-move-bounce-y
  ">
  <picture>
    <source
      srcset="<%=require('../../images/i/i-2.webp')%>"
      type="image/webp"
    >
    <source
      srcset="<%=require('../../images/i/i-2.png')%>"
      type="image/png"
    >
    <img
      src="<%=require('../../images/i/i-2.png')%>"
      alt=""
      class="
        max-w-8
        md:max-w-10
        xl:max-w-auto
      "
    >
  </picture>
</div>