<div>
  <div
    class="mb-6">
    <div
      class="
        text-base
        leading-5
        font-semibold
        tracking-[1.5px]
        uppercase
        text-white
        mb-4
      ">
      Download our App
    </div>
    <p
      class="
        text-sm      
        mb-0
        text-secondary
      ">
      Fast & Convenient Access
    </p>
  </div>
  <ul
    class="
      flex
      items-center
    ">
    <li class="mr-6">
      <a
        href="#"
        aria-label="Apple Pay"
        class="
          h-13
        ">
        <img
          src="<%=require('../images/applePay.svg')%>"
          alt="Apple Pay"
          class="
            h-full
            w-auto
          ">
      </a>
    </li>
    <li class="mr-0">
      <a
        href="#"
        aria-label="Google Pay"
        class="
          h-13
        ">
        <img
          src="<%=require('../images/googlePay.svg')%>"
          alt="Google Pay"
          class="
            h-full
            w-auto
          ">
      </a>
    </li>
  </ul>
</div>
