<button
  type="button"
  aria-label="All products"
  class="
    inline-flex
    items-center
    justify-center
    relative
    pl-8
    pr-4
    py-2.5    
    text-xs
    leading-6
    font-semibold
    uppercase
    rounded-full
    bg-gradient-to-r
    from-orange-600
    to-orange-500
    text-white
    relative    
    before:block
    before:absolute
    before:top-0
    before:left-0
    before:w-full
    before:h-full
    before:rounded-full
    before:bg-gradient-to-r
    before:from-orange-500
    before:to-orange-600
    before:opacity-0
    before:transition-all
    before:ease-in-out
    before:duration-1000
    before:motion-reduce:transition-none
    hover:before:opacity-100
  ">
  <span
    class="
      flex
      items-center
      justify-center
      relative
      z-10
    ">
    <span class="tracking-[2px]">Discover more</span>
    <span
      class="
        flex
        items-center
        justify-center
        w-6
        h-6
        rounded-full
        bg-gradient-to-r
        from-orange-500
        to-orange-600
        ml-4
        relative
        before:block
        before:absolute
        before:top-0
        before:left-0
        before:w-full
        before:h-full
        before:rounded-full
        before:bg-gradient-to-r
        before:from-orange-600
        before:to-orange-500
        before:opacity-0
        before:transition-all
        before:ease-in-out
        before:duration-1000
        before:motion-reduce:transition-none
        hover:before:opacity-100
      ">
        <svg class="icon icon-right block w-4 h-4"><use xlink:href="#icon-right"></use></svg>
      </span>
  </span>
</button>
