<div
  class="
    inline-flex
    items-center
    justify-between
    w-22
    h-8
    bg-gray    
    p-[2px]
    rounded-full
  ">
	<button
	  class="
	    js-decrease
      flex
      items-center
      justify-center
      w-7
      h-7
      rounded-full
      bg-white
      text-dark
      transition
	    ease-in-out
	    duration-300
	    motion-reduce:transition-none
	    hover:bg-green-600
	    hover:text-white
	  "
	  aria-label="Decrease">
		<span
		  class="
		    block
		    w-6
		    h-6
		   ">
			<svg class="icon icon-minus block w-full h-full"><use xlink:href="#icon-minus"></use></svg>
		</span>
	</button>

	<input
	  type="text"
	  name="calc"
	  aria-label="Calculation"
	  value="1"
	  class="
      flex
      items-center
      justify-center
      text-center
      text-sm
      leading-6
      font-medium
      w-7
      h-7
      rounded-full
      border-0
      bg-transparent
      text-dark
	  " />

	<button
	  class="
	    js-increase
      flex
      items-center
      justify-center
      w-7
      h-7
      rounded-full
      bg-white
      text-dark
      transition
	    ease-in-out
	    duration-300
	    motion-reduce:transition-none
	    hover:bg-green-600
	    hover:text-white
	  "
	  aria-label="Increase">
		<span
		  class="
		    block
		    w-6
		    h-6
		   ">
			<svg class="icon icon-plus block w-full h-full"><use xlink:href="#icon-plus"></use></svg>
		</span>
	</button>
</div>
