<ul
  class="
    flex-col
  ">
  <li class="mb-6">
    <a
      href="mailto:green@info.com"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Contact link"
      class="
        flex
        items-start
        justify-start
        group
      ">
      <span
        class="
          flex
          items-center
          justify-center
          grow-0
          shrink-0
          w-8
          h-8
          rounded-full
          mr-4
          bg-white/10
          text-white
          transition
          ease-in-out
          duration-300
          motion-reduce:transition-none
          group-hover:border-white
          group-hover:bg-white
          group-hover:text-dark
        ">
        <svg class="icon icon-email w-5 h-5"><use xlink:href="#icon-email"></use></svg>
      </span>
      <span
        class="
          block    
        ">
        <span
          class="
            text-base
            font-semibold
            tracking-[1.5px]
            text-white
          ">
          Email
        </span>
        <span
          class="
            block
            mt-2
            text-secondary
          ">
          green@info.com
        </span>
      </span>
    </a>
  </li>
  <li class="mb-6">
    <a
      href="tel:(704) 555-0127"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Contact link"
      class="
        flex
        items-start
        justify-start
        group
      ">
      <span
        class="
          flex
          items-center
          justify-center
          grow-0
          shrink-0
          w-8
          h-8
          rounded-full
          mr-4
          bg-white/10
          text-white
          transition
          ease-in-out
          duration-300
          motion-reduce:transition-none
          group-hover:border-white
          group-hover:bg-white
          group-hover:text-dark
        ">
        <svg class="icon icon-phone w-5 h-5"><use xlink:href="#icon-phone"></use></svg>
      </span>
      <span
        class="
          block
        ">
        <span
          class="
            text-base
            font-semibold
            tracking-[1.5px]
            text-white
          ">
          Phone
        </span>
        <span
          class="
            block
            mt-2
            text-secondary
          ">
          (704) 555-0127
        </span>
      </span>
    </a>
  </li>
  <li class="mb-6">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Contact link"
      class="
        flex
        items-start
        justify-start
        group
      ">
      <span
        class="
          flex
          items-center
          justify-center
          grow-0
          shrink-0
          w-8
          h-8
          rounded-full
          mr-4
          bg-white/10
          text-white
          transition
          ease-in-out
          duration-300
          motion-reduce:transition-none
          group-hover:border-white
          group-hover:bg-white
          group-hover:text-dark
        ">
        <svg class="icon icon-address w-5 h-5"><use xlink:href="#icon-address"></use></svg>
      </span>
      <span
        class="
          block
        ">
        <span
          class="
            text-base
            font-semibold
            tracking-[1.5px]
            text-white
          ">
          Address
        </span>
        <span
          class="
            block
            mt-2
            text-secondary
          ">
          2118 Thornridge Cir. Syracuse, Connecticut 35624
        </span>
      </span>
    </a>
  </li>
</ul>
