<div
  class="
    gs_reveal
    gs_reveal_fromRight
  ">
  <h6
    class="
      text-2xl
      leading-tight
      lg:text-3.5xl
      lg:leading-9
      font-semibold
      tracking-[2px]
      text-dark
      mb-4
    ">
      @instagram
  </h6>

  <div class="grid gap-4 grid-cols-3 grid-rows-2">
    @require('./inst/inst-1.html')
    @require('./inst/inst-2.html')
    @require('./inst/inst-3.html')
    @require('./inst/inst-4.html')
    @require('./inst/inst-5.html')
    @require('./inst/inst-7.html')
  </div>
</div>
