<ul
  class="
    flex
    items-center
    justify-center
    md:justify-end
  ">
  <li class="ml-2">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Payment"
      class="
        block
        w-10
        h-8
        text-white
      ">
      <svg class="icon icon-visa w-full h-full"><use xlink:href="#icon-visa"></use></svg>
    </a>
  </li>
  <li class="ml-2">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Payment"
      class="
        block
        w-10
        h-8
        text-white
      ">
      <svg class="icon icon-mc w-full h-full"><use xlink:href="#icon-mc"></use></svg>
    </a>
  </li>
  <li class="ml-2">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Payment"
      class="
        block
        w-10
        h-8
        text-white
      ">
      <svg class="icon icon-paypal w-full h-full"><use xlink:href="#icon-paypal"></use></svg>
    </a>
  </li>
</ul>
