<div
  class="
   flex
   items-center
   justify-start
  ">
  <ul
    class="
      flex
      items-center
      justify-start
    ">
    <li>
      <span
        class="
          block
          w-3.5
          h-3.5
          text-orange-500
        ">
        <svg class="icon icon-star-full block w-full h-full"><use xlink:href="#icon-star-full"></use></svg>
      </span>
    </li>
    <li>
      <span
        class="
          block
          w-3.5
          h-3.5
          text-orange-500
        ">
        <svg class="icon icon-star-full block w-full h-full"><use xlink:href="#icon-star-full"></use></svg>
      </span>
    </li>
    <li>
      <span
        class="
          block
          w-3.5
          h-3.5
          text-orange-500
        ">
        <svg class="icon icon-star-full block w-full h-full"><use xlink:href="#icon-star-full"></use></svg>
      </span>
    </li>
    <li>
      <span
        class="
          block
          w-3.5
          h-3.5
          text-orange-500
        ">
        <svg class="icon icon-star-full block w-full h-full"><use xlink:href="#icon-star-full"></use></svg>
      </span>
    </li>
    <li>
      <span
        class="
          block
          w-3.5
          h-3.5
          text-orange-500
        ">
        <svg class="icon icon-star block w-full h-full"><use xlink:href="#icon-star"></use></svg>
      </span>
    </li>
  </ul>

  <span
    class="
      block
      text-xs
      leading-4.5
      font-normal
      text-secondary
      ml-2
    ">
    (4)
  </span>
</div>