<div class="h-full">
  <div
    class="
      mb-2
      lg:mb-4
    ">
    <h6
      class="
        gs_reveal
        text-base
        leading-tight
        sm:text-xl
        sm:leading-tight
        md:text-2xl
        md:leading-7
        font-semibold
        uppercase
        tracking-[1px]
        md:tracking-[2px]
        text-dark
        mb-1
        md:mb-2
        lg:mb-4
        xl:mb-5
      ">
        TESTIMONIALS
    </h6>
    <h2
      class="
        gs_reveal
        text-2xl
        leading-tight
        sm:text-3xl
        sm:leading-tight
        lg:text-5xl
        lg:leading-tight
        font-semibold
        tracking-[1.5px]
        text-dark
        mb-0
      ">
        Clients Feedbacks
    </h2>
  </div>

  <div
    class="
      position-relative
      -ml-6
      flex
      flex-col
      self-stretch
      flex-auto
    ">
    <div
      class="
        swiper
        swiper-reviews
        flex
        flex-col
        self-stretch
        flex-auto
      ">
      <div class="swiper-wrapper">
        <div class="swiper-slide px-6 py-4">
          @require('./review/review-1.html')
        </div>
        <div class="swiper-slide px-6 py-4">
          @require('./review/review-2.html')
        </div>
        <div class="swiper-slide px-6 py-4">
          @require('./review/review-3.html')
        </div>
      </div>

      <!-- Add Pagination -->
      <div
        class="
          swiper-pagination
          flex
          items-center
          justify-start
          px-6
          mt-4
        ">  
      </div>   
    </div>    
  </div>
</div>
