<div
  class="
    max-w-10
    text-center
  ">
  <div
    class="
      w-4.5
      h-8.5
      rounded-full
      relative
      mx-auto
      animate-scroll-mouse
      before:block
      before:absolute
      before:mx-auto
      before:inset-0
      before:rounded-full
      before:w-4
      before:h-8
      before:bg-white/50
      after:block
      after:absolute
      after:m-auto
      after:inset-0
      after:w-1
      after:h-2
      after:rounded-full
      after:bg-secondary
      after:animate-scroll-mouse-ball
    "></div>
  <span
    class="
      block
      text-xs
      leading-none
      font-normal
      text-white
      mt-4
      tracking-[1px]
      animate-scroll-text
    ">
    Scroll for more
  </span>
</div>
