<ul
  class="
    flex
    items-center
    justify-start
  ">
  <li class="mr-6">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Social link"
      class="
        inline-flex
        items-center
        justify-center
        border
        border-white/50
        w-8
        h-8
        rounded-full
        text-white
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:border-white
        hover:bg-white/50
        hover:text-dark
      ">
      <svg class="icon icon-face block w-5 h-5"><use xlink:href="#icon-face"></use></svg>
    </a>
  </li>
  <li class="mr-6">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Social link"
      class="
        inline-flex
        items-center
        justify-center
        border
        border-white/50
        w-8
        h-8
        rounded-full
        text-white
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:border-white
        hover:bg-white
        hover:text-dark
      ">
      <svg class="icon icon-insta block w-5 h-5"><use xlink:href="#icon-insta"></use></svg>
    </a>
  </li>
  <li class="mr-6">
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Social link"
      class="
        inline-flex
        items-center
        justify-center
        border
        border-white/50
        w-8
        h-8
        rounded-full
        text-white
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:border-white
        hover:bg-white
        hover:text-dark
      ">
      <svg class="icon icon-youtube block w-5 h-5"><use xlink:href="#icon-youtube"></use></svg>
    </a>
  </li>
  <li>
    <a
      href="#"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Social link"
      class="
        inline-flex
        items-center
        justify-center
        border
        border-white/50
        w-8
        h-8
        rounded-full
        text-white
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:border-white
        hover:bg-white
        hover:text-dark
      ">
      <svg class="icon icon-telegram block w-5 h-5"><use xlink:href="#icon-telegram"></use></svg>
    </a>
  </li>
</ul>
