<article
  class="
    rounded-2xl
    bg-white
    shadow-sm
    h-full
    transition
    ease-in-out
    duration-300
    motion-reduce:transition-none
    hover:shadow-none
  ">  
  <a
    href="#"
    aria-label="Post"
    class="
      block
      select-none
      relative
      aspect-2/1
      lg:aspect-4/3
      rounded-t-2xl
      overflow-hidden
      after:block
      before:absolute
      before:top-0
      before:bottom-0
      before:left-0
      before:w-1/2
      before:bg-dark/25
      before:z-10
      after:block
      after:absolute
      after:top-0
      after:bottom-0
      after:right-0
      after:w-1/2
      after:bg-dark/25
      after:z-10
      before:transition
      before:ease-in-out
      before:duration-700
      before:motion-reduce:transition-none
      hover:before:-translate-x-full
      after:transition
      after:ease-in-out
      after:duration-700
      after:motion-reduce:transition-none
      hover:after:translate-x-full
    ">
      <picture>
        <source
          srcset="<%=require('../../images/post/pic-1.webp')%>"
          type="image/webp"
        >
        <source
          srcset="<%=require('../../images/post/pic-1.png')%>"
          type="image/png"
        >
        <img
          src="<%=require('../../images/post/pic-1.png')%>"
          alt=""
          class="
            select-none
            absolute
            h-full
            w-full
            object-center
            object-cover
            relative
            transition
            ease-in-out
            duration-700
            delay-300
            motion-reduce:transition-none
            hover:scale-110
          "
        >
      </picture>
  </a>
  <div
    class="
      p-6
    ">
    <header>
      <div
        class="
          flex
          items-center
          text-secondary
          text-xs
          leading-tight
          lg:text-sm
          lg:leading-4
          font-normal
          mb-2
        ">
        <svg class="icon icon-date w-4 h-4"><use xlink:href="#icon-date"></use></svg>
        <span class="ml-2">November 10 2021</span>
      </div>
      <h5
        class="
          text-base
          leading-tight        
          lg:text-xl
          lg:leading-8
          font-semibold
          text-dark
          lg:tracking-[1.5px]
          transition-all
          ease-in-out
          duration-300
          motion-reduce:transition-none
          hover:text-orange-600
        ">
          <a
            href="#"
            aria-label="Post"
            class="block">
            The More Important the Work, the More Important the Rest
          </a>
        </h5>
    </header>
  </div>        
</article>
