<div
  id="js-dd-catalog"
  class="
    js-dd-content
    hidden
    w-48
    rounded-sm
    absolute
    right-0
    mr-5
    lg:mr-6
    xl:mr-8
    top-full
    z-10
    overflow-hidden
    overflow-y-auto
    border-l-1
    border-l-gray
    shadow-sm
    backdrop-blur
    bg-white/[.92]
    transition
    ease-in-out
    duration-500
    motion-reduce:transition-none
  ">
  <ul
    class="
      flex
      flex-col
      items-start
      justify-start      
    ">
    <li
      class="
        border-b
        border-gray
        w-full
      ">
      <a
        href="#"
        class="
          flex
          items-center
          justify-between
          py-2
          px-2
          transition
          ease-in-out
          duration-500
          motion-reduce:transition-none
          hover:bg-white
        ">
          <strong
            class="
              text-sm
              leading-4.5
              font-normal
              text-dark
              tracking-[1px]
            ">
            Vegetables
          </strong>

          <span
            class="
              text-xs
              leading-4.5
              font-normal
              text-secondary
            ">
            (10 items)
          </span>
      </a>
    </li>
    <li
      class="
        border-b
        border-gray
        w-full
      ">
      <a
        href="#"
        class="
          flex
          items-center
          justify-between
          py-2
          px-2
          transition
          ease-in-out
          duration-500
          motion-reduce:transition-none
          hover:bg-white
        ">
          <strong
            class="
              text-sm
              leading-4.5
              font-normal
              text-dark
              tracking-[1px]
            ">
            Fruits
          </strong>

          <span
            class="
              text-xs
              leading-4.5
              font-normal
              text-secondary
            ">
            (12 items)
          </span>
      </a>
    </li>
    <li
      class="
        w-full
      ">
      <a
        href="#"
        class="
          flex
          items-center
          justify-between
          py-2
          px-2
          transition
          ease-in-out
          duration-500
          motion-reduce:transition-none
          hover:bg-white
        ">
          <strong
            class="
              text-sm
              leading-4.5
              font-normal
              text-dark
              tracking-[1px]
            ">
            Berries
          </strong>

          <span
            class="
              text-xs
              leading-4.5
              font-normal
              text-secondary
            ">
            (3 items)
          </span>
      </a>
    </li>
  </ul>
</div>