<div
  class="
    js-sidebar
    js-sidebar-order
    fixed
    top-0
    right-0
    bottom-0
    flex
    flex-col
    z-50
    w-80
    sm:w-96.5
    overflow-hidden
    overflow-y-auto
    border-l-1
    border-l-gray
    shadow-xs
    backdrop-blur
    bg-white/[.92]
    transition
    ease-in-out
    duration-500
    motion-reduce:transition-none
    translate-x-full
  ">
  <div
    class="
      px-6
      pt-7.5
      sticky
      top-0
      z-10
    ">
    <div
      class="
        flex
        items-center
        justify-between
        mb-5
      ">
      <h4
        class="
          text-2xl
          leading-7
          font-semibold
          tracking-[2px]
          m-0
        ">
        Order
      </h4>

      <span
        class="
          flex
          items-center
          justify-center
          w-7
          h-7
          absolute
          top-0
          right-0
          mr-6
          mt-7.5
          text-secondary
        ">
        <svg class="icon icon-down block w-4 h-4"><use xlink:href="#icon-down"></use></svg>
      </span>
    </div>

    <hr
      class="
        block
        w-100
        m-0
        border-t
        border-gray
      " />
  </div>

  <div
    class="
      px-6
      overflow-x-hidden
      overflow-y-auto
      scrollbar-thin
      scrollbar-thumb-rounded-full
      scrollbar-track-rounded-full
      scrollbar-thumb-dark/25
      scrollbar-dark/50
      hover:scrollbar-thumb-dark
    ">
    @require('./sidebar-order.html')
  </div>

  <div
    class="
      border-t-2
      border-gray
      p-6
      sticky
      bottom-0
      z-10
    ">
    @require('./sidebar-order-total.html')
  </div>
</div>
