<ul
  class="
    flex
    flex-col
    items-start
    justify-start
  ">
  <li
    class="
      py-2
      border-b
      border-gray
      w-full
    ">
    <a
      href="#home"
      class="
        block
        relative
        px-4
        text-lg
        leading-8
        font-semibold
        tracking-[1.5px]
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:text-orange-500
        before:block
        before:w-2
        before:h-2
        before:rounded-full
        before:absolute
        before:left-0
        before:top-1/2
        before:-translate-y-2/4
        before:bg-orange-600
      ">
      <span>Home</span>
    </a>
  </li>
  <li
    class="
      py-2
      border-b
      border-gray
      w-full
    ">
    <a
      href="#about"
      class="
        block
        relative
        px-4
        text-lg
        leading-8
        font-semibold
        tracking-[1.5px]
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:text-orange-500
        before:block
        before:w-2
        before:h-2
        before:rounded-full
        before:absolute
        before:left-0
        before:top-1/2
        before:-translate-y-2/4
        before:bg-orange-600
        before:opacity-0
      ">
      <span>About</span>
    </a>
  </li>
  <li
    class="
      py-2
      border-b
      border-gray
      w-full
    ">
    <a
      href="#catalog"
      class="
        block
        relative
        px-4
        text-lg
        leading-8
        font-semibold
        tracking-[1.5px]
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:text-orange-500
        before:block
        before:w-2
        before:h-2
        before:rounded-full
        before:absolute
        before:left-0
        before:top-1/2
        before:-translate-y-2/4
        before:bg-orange-600
        before:opacity-0
      ">
      <span>Catalog</span>
    </a>

    <ul
      class="
        flex
        flex-col
        items-start
        justify-start
        py-2
        pl-10
      ">
      <li
        class="
          border-b
          border-gray
          w-full
        ">
        <a
          href="#"
          class="
            flex
            items-center
            justify-between
            py-2
          ">
            <strong
              class="
                text-sm
                leading-4.5
                font-normal
                text-dark
                tracking-[1px]
              ">
              Vegetables
            </strong>

            <span
              class="
                text-xs
                leading-4.5
                font-normal
                text-secondary
              ">
              (10 items)
            </span>
        </a>
      </li>
      <li
        class="
          border-b
          border-gray
          w-full
        ">
        <a
          href="#"
          class="
            flex
            items-center
            justify-between
            py-2
          ">
            <strong
              class="
                text-sm
                leading-4.5
                font-normal
                text-dark
                tracking-[1px]
              ">
              Fruits
            </strong>

            <span
              class="
                text-xs
                leading-4.5
                font-normal
                text-secondary
              ">
              (12 items)
            </span>
        </a>
      </li>
      <li
        class="
          w-full
        ">
        <a
          href="#"
          class="
            flex
            items-center
            justify-between
            py-2
          ">
            <strong
              class="
                text-sm
                leading-4.5
                font-normal
                text-dark
                tracking-[1px]
              ">
              Berries
            </strong>

            <span
              class="
                text-xs
                leading-4.5
                font-normal
                text-secondary
              ">
              (3 items)
            </span>
        </a>
      </li>
    </ul>
  </li>
  <li
    class="
      py-2
    ">
    <a
      href="#contact"
      class="
        block
        relative
        px-4
        text-lg
        leading-8
        font-semibold
        tracking-[1.5px]
        transition
        ease-in-out
        duration-300
        motion-reduce:transition-none
        hover:text-orange-500
        before:block
        before:w-2
        before:h-2
        before:rounded-full
        before:absolute
        before:left-0
        before:top-1/2
        before:-translate-y-2/4
        before:bg-orange-600
        before:opacity-0
      ">
      <span>Contact</span>
    </a>
  </li>
</ul>