<table class="w-full">
  <tbody>
    <tr>
      <td
        class="
          py-4
          pr-2
          border-b
          border-gray
          align-top
        ">
        <span
          class="
            text-sm
            leading-4.5
            font-normal
            tracking-[1px]
            whitespace-nowrap
            text-dark
          ">
          Address:
        </span>
      </td>

      <td
        class="
          py-4
          pl-2
          border-b
          border-gray
          align-top
          text-right
        ">
        <a
          href="#"
          class="
            text-xs
            sm:text-sm
            leading-2
            sm:leading-4.5
            font-normal
            text-secondary            
          ">
          2118 Thornridge Cir. Syracuse, Connecticut 35624
        </a>
      </td>
    </tr>

    <tr>
      <td
        class="
          py-4
          pr-2
          border-b
          border-gray
          align-top
        ">
        <span
          class="
            text-sm
            leading-4.5
            font-normal
            tracking-[1px]
            whitespace-nowrap
            text-dark
          ">
          Working hours:
        </span>
      </td>

      <td
        class="
          py-4
          pl-2
          border-b
          border-gray
          align-top
          text-right
        ">
        <span
          class="
            text-xs
            sm:text-sm
            leading-2
            sm:leading-4.5
            font-normal
            text-secondary            
          ">
          09:00 - 23:00
        </span>
      </td>
    </tr>

    <tr>
      <td
        class="
          py-4
          pr-2
          border-b
          border-gray
          align-top
        ">
        <span
          class="
            text-sm
            leading-4.5
            font-normal
            tracking-[1px]
            whitespace-nowrap
            text-dark
          ">
          Phone:
        </span>
      </td>

      <td
        class="
          py-4
          pl-2
          border-b
          border-gray
          align-top
          text-right
        ">
        <a
          href="tel:(704) 555-0127"
          class="
            text-xs
            sm:text-sm
            leading-2
            sm:leading-4.5
            font-normal
            text-secondary            
          ">
          (704) 555-0127
        </a>
      </td>
    </tr>

    <tr>
      <td
        class="
          py-4
          pr-2
          align-top
        ">
        <span
          class="
            text-sm
            leading-4.5
            font-normal
            tracking-[1px]
            whitespace-nowrap
            text-dark
          ">
          Email:
        </span>
      </td>

      <td
        class="
          py-4
          pl-2
          align-top
          text-right
        ">
        <a
          href="mailto:green@info.com"
          class="
            text-xs
            sm:text-sm
            leading-2
            sm:leading-4.5
            font-normal
            text-secondary            
          ">
          green@info.com
        </a>
      </td>
    </tr>
  </tbody>
</table>
