<ul
  class="
    flex
    flex-col
    pt-4
  ">
  <li class="mb-4">
    @require('../components/order/card-order-1.html')
  </li>
  <li class="mb-4">
    @require('../components/order/card-order-2.html')
  </li>
  <li class="mb-4">
    @require('../components/order/card-order-3.html')
  </li>
  <li class="mb-4">
    @require('../components/order/card-order-1.html')
  </li>
  <li class="mb-4">
    @require('../components/order/card-order-2.html')
  </li>
  <li class="mb-4">
    @require('../components/order/card-order-3.html')
  </li>
  <li class="mb-4">
    @require('../components/order/card-order-2.html')
  </li>
</ul>
