<div>
  <div
    class="
      flex
      items-center
      justify-between
      mb-4
      sm:mb-6
    ">
    <h5
      class="
        text-md
        leading-2
        sm:text-lg
        sm:leading-5
        font-semibold
        tracking-[1.5px]
      ">
      Subtotal:
    </h5>
    <strong
      class="
        text-lg
        leading-5
        font-semibold
        tracking-[1px]
        text-right
        text-green-500
      ">
      $370.00
    </strong>
  </div>

  <div
    class="
      grid
      grid-cols-12
      gap-2
      sm:gap-6
    ">
    <div class="col-span-6">
      <button
        type="button"
        class="
          inline-flex
          items-center
          justify-center
          relative
          px-4
          py-2.5    
          text-xs
          leading-6
          font-semibold
          uppercase
          rounded-full
          bg-gradient-to-r
          from-orange-600
          to-orange-500
          text-white
          w-full">
        <span class="tracking-[1.5px]">View order</span>
      </button>
    </div>
    
    <div class="col-span-6">
      <button
        type="button"
        class="
          inline-flex
          items-center
          justify-center
          relative
          px-4
          py-2.5    
          text-xs
          leading-6
          font-semibold
          uppercase
          rounded-full
          bg-gradient-to-r
          from-green-700
          to-green-600
          text-white
          w-full">
        <span class="tracking-[1.5px]">CHEckoUT</span>
      </button>
    </div>
  </div>
</div>
